<template>
  <div class="list">
    <div class="card">
      <div class="list-container">
        <div class="list-container__content">
          <div class="list-container__left">
            <slot name="left-content"></slot>
          </div>
          <div class="list-container__center">
            <slot name="center-content"></slot>
          </div>
          <div class="list-container__right">
            <slot name="right-content"></slot>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator'
@Component
export default class ListContainterCom extends Vue {}
</script>
<style lang="scss" scoped>
@import '../../styles/mixins/buttons';
.list-container {
  margin: 1rem 1rem;

  &__content {
    display: flex;
    border-bottom: 1px solid lightgrey;
  }
  &__left {
    flex: 1;
    border-right: 1px solid lightgrey;
    padding: 1rem 5rem;
  }
  &__center {
    flex: 5;
    border-right: 1px solid lightgrey;
    padding: 1rem 5rem;
  }
  &__right {
    flex: 1;
    padding: 1rem 5rem;
  }
}
</style>
