<template>
  <div class="paginator">
    <div class="card">
      <div class="paginator-container">
        <div class="paginator-items">
          <ul>
            <li>
              <button @click="onPrevPage" class="icon-button">
                <BaseIcon name="arrow_prev" />
              </button>
            </li>
            <li>page {{ currentPage }} of {{ pageCount }} pages</li>
            <li>
              <button @click="onNextPage" class="icon-button">
                <BaseIcon name="arrow_next" />
              </button>
            </li>
            <li>
              <CustomSelectCom
                @changed-option="changePerPage"
                :options="[5, 10, 20]"
                v-model="perPage"
              />

              per page of {{ itemCount }}
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue, Prop, Emit, Watch } from 'vue-property-decorator'
import CustomSelectCom from '../Inputs/CustomSelectCom.vue'
import BaseIcon from '../shared/BaseIcon.vue'

@Component({
  components: { CustomSelectCom, BaseIcon },
})
export default class PaginatorCom extends Vue {
  @Prop({ type: Number }) public itemCount!: number
  public perPage: number = 10
  public pageCount: number = 0
  public currentPage: number = 1

  @Watch('itemCount') changedItemCount() {
    this.getPageCount()
  }

  created() {
    this.getPageCount()
    this.$emit('items-per-page', this.perPage)
  }
  changePerPage(val: number) {
    this.perPage = val
    this.getPageCount()
    this.sendPerPageChange()
  }
  getPageCount() {
    if (this.itemCount && this.perPage) {
      this.pageCount = Math.ceil(this.itemCount / this.perPage)
    }
  }
  onNextPage() {
    if (this.currentPage < this.pageCount) {
      this.currentPage++
      // see @Emit for alternate use
      this.$emit('changed-page', this.currentPage)
    }
  }
  onPrevPage() {
    if (this.currentPage > 1) {
      this.currentPage--
      this.$emit('changed-page', this.currentPage)
    }
  }

  @Emit('items-per-page') sendPerPageChange() {
    return this.perPage
  }
}
</script>

<style lang="scss" scoped>
@import '../../styles/mixins/cards';
.card {
  @include card();
  padding: 0rem 1rem;
}
.paginator-items {
  ul {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    li {
      display: flex;
      align-items: center;
    }
  }
}

.icon-button {
  background: transparent;
  border: none;
  padding-left: 5px;
  transition: transform 1s;

  &:focus {
    outline: none;
  }
  &__active {
    transition: transform 1s;
    transform: rotate(180deg);
  }
}
</style>
