<template>
  <div class="tab">
    <div class="card">
      <div class="tab-container">
        <div class="tab-container__tab-keys">
          <ul>
            <li @click="selectTab(index)" :key="index" v-for="(tab, index) in tabs">
              {{ tab }}
            </li>
          </ul>
        </div>

        <div class="tab-container__tab-body">
          <slot name="tab-body"></slot>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue, Prop } from 'vue-property-decorator'

@Component
export default class TabContainerCom extends Vue {
  @Prop({ type: Array }) public tabs!: String[]

  created() {
    if (this.tabs.length > 0) {
      this.$emit('selected-tab', 0)
    }
  }
  selectTab(index: number) {
    this.$emit('selected-tab', index)
  }
}
</script>

<style lang="scss" scoped>
@import '../../styles/mixins/cards';
.card {
  @include card();
  width: 100%;
}

.tab-container {
  @include card();
  &__tab-keys {
    ul {
      display: flex;
      justify-content: space-evenly;
      list-style: none;
    }
  }
}
</style>
