<template>
  <div class="select">
    <div class="card">
      <div class="select-container">
        <select class="select" @change="change">
          <option
            v-for="(option, index) in options"
            :key="index"
            :value="option"
            :selected="selectedOption(option)"
          >
            {{ option }}
          </option>
        </select>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue, Emit } from 'vue-property-decorator'
@Component
export default class CustomSelectCom extends Vue {
  @Prop() public options!: string[] | number[]
  @Prop() public value!: string | number
  public option!: string | number

  selectedOption(option: string | number) {
    return option == this.value
  }

  @Emit('changed-option') change($event: any) {
    this.option = $event.target.value
    return this.option
  }
}
</script>
<style lang="scss" scoped>
@import '../../styles/mixins/cards';
.card {
  @include card();
}
</style>
