<template>
  <div class="search">
    <div class="card">
      <div class="search-container">
        <input type="text" @input="updateSearch" placeholder="Start Typing To Search" />
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue, Prop, Emit, Watch } from 'vue-property-decorator'
import BaseIcon from '../shared/BaseIcon.vue'

@Component({
  components: { BaseIcon },
})
export default class SearchInputCom extends Vue {
  @Prop({ type: Number }) public itemCount!: number
  @Prop({ type: String }) private value!: string
  public searchText: string = ''

  //using any for html input to get target.

  @Emit('input') updateSearch(e: any) {
    this.searchText = e.target.value
    return this.searchText
  }

  created() {}
}
</script>

<style lang="scss" scoped>
@import '../../styles/mixins/cards';
.card {
  @include card();
  padding: 0rem 1rem;
}
.search-container {
  display: flex;
  justify-content: center;
}
input[type='text'] {
  max-width: 70vw;

  padding: 10px;
  text-align: center;
}
.icon-button {
  background: transparent;
  border: none;
  padding-left: 5px;
  transition: transform 1s;

  &:focus {
    outline: none;
  }
  &__active {
    transition: transform 1s;
    transform: rotate(180deg);
  }
}
</style>
