@import './fonts';
@import './variables';
@import './mixins/buttons';

// Base Layout
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: $base-font-family;
}

form {
  color: black;
}

// Text
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 1rem;
  color: $charcoal;
  line-height: 1.25;
}

h4 {
  color: $festi-orange;
}

p {
  margin: 1rem;
  font-size: 0.8rem;
  color: $charcoal;
}

b {
  font-weight: 700;
}

// Links
a {
  text-decoration: none;
  color: $orange;
  font-weight: $base-font-weight;
  transition: all 0.1s linear;

  &.blue {
    color: $royal-blue;
    font-weight: bold;

    &:visited {
      color: $royal-blue;
    }
  }
}

// orange <router-link>
.link {
  color: $charcoal;
  font-family: $base-font-family;
  font-weight: 500;
}
