@import './variables';

%usd-input {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' height='45px' width='85px'><text x='8' y='26' fill='gray' font-size='24' font-family='arial'>$</text></svg>");
  background-repeat: no-repeat;
  font-size: 1.1rem;
  line-height: 1;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 34px;
}

%input-style {
  border: none;
  background-color: #fff;
  border: 1px solid $light-gray;
  border-radius: 10px;
  font-size: $base-font-size;
  font-weight: $base-font-weight;
  height: 2.5rem;
  width: 100%;
  padding-left: 11px;
  padding-right: 10px;

  &::placeholder {
    color: $light-gray;
  }

  &:focus {
    outline: none;
  }
}

fieldset {
  padding: 0.75rem;
}

label {
  font-size: $base-font-size;
  font-weight: $base-font-weight;
  color: $charcoal;
  font-family: 'lucidaGrande';
  font-weight: bold;
  margin: 0px 0px 5px 5px;
  font-size: 16px;
}

textarea {
  @extend %input-style;
  font-family: $base-font-family;
  font-size: $base-font-size;
  font-weight: $base-font-weight;
  padding: 0.5rem;
  border: 1px solid $light-gray;
  border-radius: 10px;

  &::placeholder {
    color: $light-gray;
    margin: 5px;
  }
}

select {
  @extend %input-style;
}

.field-group {
  display: block;
  max-width: 100%;
  margin-bottom: 1rem;

  & > label,
  &__label {
    font-size: $base-font-size;
    font-weight: $base-font-weight;
    line-height: 2;
  }
}

.field-error {
  display: inline-block;
  background: transparent;
  color: $red-orange;
  font-size: 0.7rem;
  font-weight: 400;
  margin: 0.5rem 0 0.3rem 10px;
}

.usd-earnings-box {
  height: 2.5rem;
  border: 1px solid $mid-gray;
  align-items: center;
  display: flex;
  font-size: 1.1rem;
  font-weight: $base-font-weight;

  @extend %usd-input;
}

input[type='email'],
input[type='password'],
input[type='text'],
input[type='number'],
input[type='date'] {
  @extend %input-style;
}

//SEARCH INPUT
.search-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;

  &__image {
    width: 20px;
    height: 20px;
    fill: gray;
  }
}

//TODO - DELETE THIS
.search--input-container {
  position: relative;
  display: flex;
  align-items: center;
  padding: 0.3em;
  border-bottom: 2px solid #202c5d;
}

.search__label {
  width: 100%;
  display: flex;
}
