@import './fonts';
@import './variables';
@import './mixins/buttons';

// Overall Layout
.padding-horizontal {
  padding-left: 15px;
  padding-right: 15px;
}

.padding-vertical {
  padding-top: 15px;
  padding-bottom: 15px;
}

.content {
  margin-left: 15px;
  line-height: 25px;
}

// SVG Icons
.icon {
  // SVG icons will inherit the color of the surrounding text.
  fill: currentColor;
}

/* Modal */
.v--modal {
  padding: 1rem !important;
}

.submit-button {
  @include primary-button();
}

.modal-container {
  width: 1250px;
  margin: 60px auto;
  padding: 15px;
  border: 2px solid $very-light-gray;
}

// SVG Icons
.icon {
  // SVG icons will inherit the color
  // of the surrounding text.
  fill: currentColor;
}

// Font Layouts
@mixin title() {
  text-align: center;
  margin-top: 2rem;
}

@mixin subtitle() {
  text-align: center;
  margin-top: 2rem;
  font-weight: lighter;
}

@media screen and (max-width: 1250px) {
  .container {
    width: auto;
  }
}
