@import '../styles/variables';

.user-profile-container {
  padding: 15px 15px;
  padding-bottom: 50px;
  max-width: 500px;
  margin: 0 auto;
}

.user__edit-btn {
  color: $primary-brand-color;
  text-transform: uppercase;
  cursor: pointer;
}

.user__pic {
  margin: 15px auto;
  background-position: center;
  background-size: cover;
  height: 140px;
  width: 140px;
  border-radius: 50%;
  background-color: #f0f1f3;
  border: 2px solid $secondary-brand-color;
}

.user {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__profile-image {
    width: 87px;
    height: 87px;
    border: 1px solid $very-light-gray;
    background-size: cover;
    background-position: center center;
    border-radius: 50%;
  }

  &__username {
    color: $charcoal;
    text-align: center;
    letter-spacing: 2px;
  }
}
