// ---------- BRANDING COLORS ------------
$festi-orange: #F2582A;
$primary-brand-color: $festi-orange;
$secondary-brand-color: #26b3f5;

// social buttons colors
$facebook-color:      #3B5999;

// ---------- USEFUL COLORS ---------------
$off-white: #fafafa; // Very light gray
$gainsboro: #e6e6e6; // 10% gray
$very-light-gray: #cdcdcd; // 20% gray
$light-gray: #cccccc; // 20% gray
$mid-gray: #888888; // 40% gray
$mortar: #565051; // 60% gray
$charcoal: #555555; // 62% gray
$night-rider: #333333; // 80% gray
$nero: #252525; // Dark gray
$matterhorn: #505050; // Very dark gray
$dodger-blue: #4a90e2; // Bright blue
$royal-blue: #407be4; // Blue
$red-orange: #ff3f34; // Error text
$kelly-green: #45cc10; // Bright Green
$gamboge: #f29909; // Dark Orange
$roman: #de6360; // Error field bg color for case: campuses don't exists for this domain name
$orange: #f2582a; // Orange

// ------------- LAYOUT & SIZES ---------------
$rem-size: 16px; // default 1rem = 16px
$app-header-height: 3.75rem; // 60px
$compensated-height: calc(100vh - 3.75rem);

$mobile-break-point: 768px;
$mobile-small-break-point: 375px;
$mobile-width: 576px;

$desktop-width: 768px;

$apply-fixed-width: 900px;

// ------------ ELEMENTS -----------------
$link-color: $dodger-blue;

// ------------- POSITION ---------------
$app-header-z-index: 100;

// -------------- FONTS -----------------
$base-font-family: 'Lucinda Grande', -apple-system, BlinkMacSystemFont, Roboto, Oxygen, Ubuntu,
  'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
$noto-sans-family: 'Noto Sans', sans-serif;
$base-line-height: 1.5;
$base-font-color: $matterhorn;
$base-font-size: 1.0rem;
$base-font-weight: 200;
