<template>
  <!-- 
Will Show buses from search here -->
  <div class="buses">
    <div class="card">
      <SearchInput @input="filterRoutes" v-model="searchText" />
      <template v-if="busRoutesCopy.length > 0">
        <div
          class="buses-container"
          :key="route.routeId"
          v-for="route in busRoutesCopy.slice(routesStart, routesEnd + 1)"
        >
          <ListContainerCom>
            <template v-slot:left-content>
              {{ route.routeId }}
            </template>
            <template v-slot:center-content>
              {{ route.lineDescription }}
            </template>
            <template v-slot:right-content>
              <button
                :class="{
                  'icon-button': true,
                  'icon-button__expansion__active':
                    currentRouteDetails && route.routeId == currentRouteDetails.routeId,
                }"
                @click="getRouteDetails(route.routeId)"
              >
                <BaseIcon name="expand" />
              </button>
            </template>
          </ListContainerCom>
          <div
            class="bus-stops"
            v-if="currentRouteDetails && route.routeId == currentRouteDetails.routeId"
          >
            <TabContainerCom
              v-on:selected-tab="selectTab"
              :tabs="[
                `${currentRouteDetails.direction0.directionText} to ${currentRouteDetails.direction0.tripHeadSign}`,
                `${currentRouteDetails.direction1.directionText} to ${currentRouteDetails.direction1.tripHeadSign}`,
              ]"
            >
              <template v-if="currentStops && currentStops.length > 0" v-slot:tab-body>
                <ListContainerCom
                  :key="stop.stopId"
                  v-for="stop in currentStops.slice(stopsStart, stopsEnd + 1)"
                >
                  <template v-slot:left-content>
                    <button
                      :class="{
                        'icon-button': true,
                        'icon-button__favorite__active': savedFavorites.find(
                          savedStop => savedStop.stopId === stop.stopId,
                        ),
                      }"
                      @click="onSetSavedFavorites(stop)"
                    >
                      <BaseIcon
                        name="heart"
                        :fill="
                          savedFavorites.find(savedStop => savedStop.stopId === stop.stopId)
                            ? 'red'
                            : 'none'
                        "
                      />
                    </button>
                  </template>
                  <template v-slot:center-content>
                    {{ stop.name }}
                  </template>
                  <template v-slot:right-content> {{ stop.routes.join(', ') }} </template>
                </ListContainerCom>
                <PaginatorCom
                  @items-per-page="onStopsPerPageChange"
                  @changed-page="onToggleStopsPage"
                  :itemCount="currentStops.length"
                />
              </template>
            </TabContainerCom>
          </div>
        </div>
        <div class="paginator">
          <PaginatorCom
            @items-per-page="onRoutesPerPageChange"
            @changed-page="onToggleRoutesPage"
            :itemCount="busRoutesCopy.length"
          />
        </div>
      </template>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue, Prop, Watch } from 'vue-property-decorator'
import ListContainerCom from '../components/shared/ListContainerCom.vue'
import { busService } from '../services/metro-bus/bus-service'
import { AppRoutes } from '../services/metro-bus/models/bus-routes.model'
import { AppRouteDetails, AppStop } from '../services/metro-bus/models/route-details.model'
import { favoriteItems } from '../services/favorites/favorites.service'
import TabContainerCom from '../components/shared/TabContainerCom.vue'
import PaginatorCom from '../components/shared/PaginatorCom.vue'
import BaseIcon from '../components/shared/BaseIcon.vue'
import SearchInput from '../components/Inputs/SearchInputCom.vue'

@Component({
  components: { ListContainerCom, TabContainerCom, PaginatorCom, BaseIcon, SearchInput },
})
export default class Buses extends Vue {
  selectedRoute: String | null = null
  busRoutes: AppRoutes[] = []
  currentRouteDetails: AppRouteDetails | null = null
  currentStops: AppStop[] | null = null
  routesPerPage: number = 0
  routesStart: number = 0
  routesEnd: number = this.routesPerPage
  currentRoutesPage: number = 1
  stopsPerPage: number = 0
  stopsStart: number = 0
  stopsEnd: number = this.stopsPerPage
  currentStopsPage: number = 1
  expanstionState: boolean = false
  searchText: string = ''
  busRoutesCopy: AppRoutes[] = []
  savedFavorites: AppStop[] = []

  filterRoutes(val: any) {
    let result: AppRoutes[]
    result = this.busRoutes.filter(route => {
      return route.routeId.includes(val) || route.name.includes(val)
    })
    this.busRoutesCopy = result
  }
  created() {
    this.getBusRoutes()

    this.getSavedFavorites()
  }
  @Watch('routesPerPage') onRoutesPerPageChange(val: number) {
    this.routesPerPage = val
    this.onToggleRoutesPage(this.currentRoutesPage)
  }
  @Watch('stopsPerPage') onStopsPerPageChange(val: number) {
    this.stopsPerPage = val
    this.onToggleStopsPage(this.currentStopsPage)
  }
  @Watch('busRoutes') onBusRoutes(val: AppRoutes[]) {
    this.busRoutesCopy = [...this.busRoutes]
  }

  async getBusRoutes() {
    try {
      this.busRoutes = await busService.getBusRoutes()
    } catch (e) {
      console.log(e)
    }
  }
  closeRouteDetails() {
    this.currentRouteDetails = null
  }
  /// todo computed val
  selectTab(val: number) {
    if (val == 0) {
      this.currentStops = this.currentRouteDetails
        ? this.currentRouteDetails.direction0.stops
        : null
    } else if (val == 1) {
      this.currentStops = this.currentRouteDetails
        ? this.currentRouteDetails.direction1.stops
        : null
    } else {
      this.currentStops = null
    }
  }
  onToggleRoutesPage(pageNum: number) {
    this.currentRoutesPage = pageNum
    this.routesStart = (this.currentRoutesPage - 1) * this.routesPerPage
    this.routesEnd = this.currentRoutesPage * this.routesPerPage - 1
    this.closeRouteDetails()
  }
  onToggleStopsPage(pageNum: number) {
    this.currentStopsPage = pageNum
    this.stopsStart = (this.currentStopsPage - 1) * this.stopsPerPage
    this.stopsEnd = this.currentStopsPage * this.stopsPerPage - 1
  }

  async getRouteDetails(routeId: string) {
    /* eslint-disable no-debugger */
    if (this.currentRouteDetails && this.currentRouteDetails.routeId == routeId) {
      this.closeRouteDetails()
      return
    }
    try {
      this.currentRouteDetails = await busService.getRouteDetails(routeId)
    } catch (e) {
      console.log(e)
    }
  }

  getSavedFavorites() {
    let favorites = favoriteItems.getSavedRoutes()
    if (favorites) {
      this.savedFavorites = favorites['stops']
    }
  }

  onSetSavedFavorites(stop: AppStop) {
    /* eslint-disable no-debugger */
    if (!this.savedFavorites.find(saved => saved.stopId === stop.stopId)) {
      favoriteItems.saveRoute(stop)
    } else {
      this.onDeleteStop(stop)
    }
    this.getSavedFavorites()
  }

  onDeleteStop(stop: AppStop) {
    // todo confirm stop is actually here on service and component
    favoriteItems.removeFavorite(stop)
    this.getSavedFavorites()
  }
}
</script>

<style lang="scss" scoped>
@import '../styles/mixins/cards';
@import '../styles/mixins/buttons';
.card {
  @include card();
}
.bus-stops {
  display: flex;
}
.icon-button {
  background: transparent;
  border: none;
  padding-left: 5px;
  transition: transform 1s;

  &:focus {
    outline: none;
  }
  &__expansion {
    &__active {
      transition: transform 1s;
      transform: rotate(180deg);
    }
  }
  &__favorite {
    &__active {
    }
  }
}

.paginator {
  border: 1px solid $roman;
}
</style>
