<template>
  <div class="dashboard">
    <div class="card">
      <template>
        <div class="favorites-container" :key="stop.stopId" v-for="stop in savedFavorites">
          <ListContainerCom>
            <template v-slot:left-content>
              <button class="icon-button" @click="onDeleteStop(stop)">
                <BaseIcon name="trash" />
              </button>
            </template>
            <template v-slot:center-content>
              <h4>{{ stop.name }}</h4>
              {{ stop.routes.join(', ') }}
            </template>
            <template v-slot:right-content>
              <button
                :class="{
                  'icon-button': true,
                  'icon-button__expansion__active':
                    busPredictions &&
                    busPredictions.predictions.find(pred => pred.stopId == stop.stopId),
                }"
                @click="
                  busPredictions &&
                  busPredictions.predictions.find(pred => pred.stopId == stop.stopId)
                    ? (busPredictions = null)
                    : onGetBusPredictions(stop.stopId)
                "
              >
                <BaseIcon name="expand" />
              </button>
            </template>
          </ListContainerCom>
          <template
            v-if="
              busPredictions && busPredictions.predictions.find(pred => pred.stopId == stop.stopId)
            "
          >
            <ListContainerCom
              :key="prediction.routeId"
              v-for="prediction in mergePredictions(busPredictions.predictions)"
            >
              <template v-slot:left-content>
                {{ prediction.routeId }}
              </template>
              <template v-slot:center-content>
                {{ prediction.minutes.join(', ') }}
              </template>
            </ListContainerCom>
          </template>
        </div>
      </template>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue, Prop, Watch } from 'vue-property-decorator'
import ListContainerCom from '../components/shared/ListContainerCom.vue'
import { AppRouteDetails, AppStop } from '../services/metro-bus/models/route-details.model'
import {
  AppPredictions,
  AppBusPredictions,
} from '../services/metro-bus/models/bus-predictions.model'
import { favoriteItems } from '../services/favorites/favorites.service'
import { busService } from '../services/metro-bus/bus-service'
import BaseIcon from '../components/shared/BaseIcon.vue'

@Component({
  components: { ListContainerCom, BaseIcon },
})
export default class DashBoard extends Vue {
  savedFavorites: AppStop[] = []
  busPredictions: AppBusPredictions | null = null
  created() {
    this.getSavedFavorites()
  }

  mergePredictions(array: any[]) {
    let predictions: AppPredictions[] = array.reduce((acc: any[], curr: AppPredictions) => {
      /* eslint-disable no-debugger */
      if (acc.length <= 0) {
        acc.push({ routeId: curr.routeId, minutes: [curr.minutes] })
        return acc
      } else {
        let index: number = acc.findIndex(route => route.routeId == curr.routeId)
        if (index >= 0) {
          acc[index].minutes.push(curr.minutes)
          return acc
        } else {
          /* eslint-disable no-debugger */

          acc.push({ routeId: curr.routeId, minutes: [curr.minutes] })
          return acc
        }
      }
    }, [])
    return predictions
  }
  getSavedFavorites() {
    let favorites = favoriteItems.getSavedRoutes()
    if (favorites) {
      this.savedFavorites = favorites['stops']
    }
  }
  onDeleteStop(stop: AppStop) {
    // todo confirm stop is actually here on service and component
    favoriteItems.removeFavorite(stop)
    this.getSavedFavorites()
  }
  async onGetBusPredictions(stopId: string): Promise<any> {
    try {
      this.busPredictions = await busService.getNextBusPredictions(stopId)
      this.predictionAutomator(stopId)
    } catch (e) {
      console.log(e)
    }
  }
  predictionAutomator(stopId: string): any {
    if (this.busPredictions) {
      setTimeout(async () => {
        try {
          console.log(stopId)
          this.busPredictions = await busService.getNextBusPredictions(stopId)
          return this.predictionAutomator(stopId)
        } catch (e) {
          console.log(e)
        }
      }, 60000)
    }
  }
}
</script>

<style lang="scss" scoped>
@import '../styles/mixins/cards';
@import '../styles/mixins/buttons';
.card {
  @include card();
}

.icon-button {
  background: transparent;
  border: none;
  padding-left: 5px;
  transition: transform 1s;

  &:focus {
    outline: none;
  }
  &__expansion {
    &__active {
      transition: transform 1s;
      transform: rotate(180deg);
    }
  }
  &__favorite {
    &__active {
    }
  }
}
</style>
