<template>
  <div id="app">
    <TopNavBarComp />
    <router-view />
  </div>
</template>
<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'
import TopNavBarComp from './components/NavBars/TopNavBarComp.vue'

@Component({
  components: { TopNavBarComp },
})
export default class App extends Vue {}
</script>
<style lang="scss">
@import './styles/base';
@import './styles/forms';
@import './styles/variables';
@import './styles/mixins/cards';
#app {
  @include card();
}
</style>
