<template>
  <header class="navbar">
    <div class="navbar__content">
      <div class="navbar__icon"></div>
      <div class="navbar__links">
        <ul>
          <li>
            <router-link :to="{ name: 'DashBoard' }">
              DashBoard
            </router-link>
          </li>
          <li>
            <router-link :to="{ name: 'Buses' }">
              Buses
            </router-link>
          </li>
        </ul>
      </div>
    </div>
  </header>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator'
@Component
export default class TopNavBarComp extends Vue {}
</script>
<style lang="scss" scoped>
@import '../../styles/variables';
a {
  color: gainsboro;
}
.navbar {
  padding: 1rem 1rem;
  background-color: $roman;

  &__content {
    display: flex;
  }
  &_icon {
    flex: 1;
  }
  &__links {
    flex: 5;
    ul {
      display: flex;
      justify-content: space-evenly;
    }
    > ul > li {
      list-style-type: none;
    }
  }
}
</style>
