@import '../variables';

@mixin alert ($color) {
  border-left: 4px solid $color;
  padding: 0.5rem;
  margin-bottom: 1rem;
}

@mixin alert-error () {
  @include alert($roman)
}

@mixin alert-warning () {
  @include alert($gamboge)
}

@mixin alert-success () {
  @include alert($kelly-green)
}
