// PULSE ANIMATIONS

// "Mild Pulse" - Scale the item from 100% to 130% and back
//                again over the course of two seconds.
@keyframes mild-pulse {
  0%, 100% {
    transform: scale(0.9) rotate(-10deg);
  } 20% {
    transform: scale(1.0) rotate(-10deg);
  }
}
@mixin mild-pulse-animation () {
  animation: mild-pulse 2s infinite;
}

// "Extreme Pulse" - Scale the item from 0% to 100% and back
//                   again over the course of 1.4 seconds.
@keyframes extreme-pulse {
  0%, 80%, 100% { 
    transform: scale(0);
  } 40% { 
    transform: scale(1.0);
  }
}
@mixin extreme-pulse-animation () {
  animation: extreme-pulse 1.4s infinite ease-in-out both;
}
// END PULSE ANIMATIONS

// BOUNCE ANIMATIONS
@keyframes bounce-in {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes bounce-out {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
// END BOUNCE ANIMATIONS

@keyframes rotate {
  from { transform: rotate(0deg);   }
  to   { transform: rotate(360deg); }
}