@import '../variables';

// PRIMARY BUTTONS
@mixin base-button() {
  display: block;
  padding: 0.25rem 0.5rem;
  background-color: darken($very-light-gray, 5%);
  margin-bottom: 0.3rem;
  height: 2.5rem;
  border: 2px solid $very-light-gray;
  font-size: 1rem;
  font-weight: 300;
  text-align: center;
  cursor: pointer;
  transition: all 150ms linear;

  &:active {
    transform: scale(0.97);
  }

  &:disabled {
    background-color: $mid-gray;
    cursor: not-allowed;

    // Don't react to interaction
    &:hover {
      background-color: $mid-gray;
    }

    &:active {
      transform: scale(1);
    }
  }

  &:hover {
    background-color: $very-light-gray;
  }
}

@mixin primary-button() {
  @include base-button();
  border: 1px solid $orange;
  border-radius: 10px;
  background-color: #fff;
  color: $orange;
  width: 100%;

  &:disabled {
    background-color: $light-gray;
    border-color: $charcoal;
    color: $charcoal;
    cursor: not-allowed;

    // Don't react to interaction
    &:hover {
      background-color: $light-gray;
      color: $charcoal;
    }

    &:active {
      transform: scale(1);
    }
  }

  &:hover {
    background-color: $orange;
    color: white;
  }
}

@mixin button-group() {
  display: flex;
  justify-content: space-between;

  button,
  .button {
    @include base-button();
    flex: 1;
    max-width: 12rem;

    &.primary {
      @include primary-button();
    }
  }
}

// BUTTON TYPES
@mixin submit-button() {
  display: inline-block;
  border-radius: 3px;
  padding: 7px 12px;
  border: 2px solid #d5d5d5;
  background-image: linear-gradient(#eee, #ddd);
  font: 700 13px/18px Helvetica, arial;

  &.success {
    color: #fff;
    background: #569e3d linear-gradient(#79d858, #569e3d) repeat-x;
    border-color: #4a993e;
  }

  &.danger {
    color: #900;
  }
}

@mixin link-button() {
  padding: 0.25rem 0.5rem;
}

@mixin link-w-blue-text($link-color: $light-gray) {
  color: $link-color;
}

@mixin sign-in-button() {
  @include base-button();
  color: $primary-brand-color;
  display: inline-block;
  border-radius: 3px;
  padding: 7px 12px;
  border: 2px solid #d5d5d5;
  background-image: linear-gradient(#eee, #ddd);
}

@mixin contact-button() {
  @include base-button();
  @include product-gradient-background();
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);

  &:hover {
    transform: translateY(-3px);
  }
}

@mixin social-btn($base-color) {
  @include primary-button();
  border-color: $base-color;
  background-color: $base-color;
  color: white;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  & svg {
    fill: $base-color;
    height: 1rem;
    width: 1rem;
    min-height: 1rem;
    min-width: 1rem;
    margin-right: 0.5rem;
  }
  & span {
    margin-top: 4px; // centering font by vertical
  }

  &:hover {
    background-color: $base-color;
    color: white;
  }
}

@mixin modal-close-btn() {
  width: 25px;
  height: 25px;
  background-color: red;
  border: 1px solid black;

  &__button {
    height: 25px;
    width: 2px;
    background-color: black;
    transform: rotate(90deg);
    z-index: 2;
  }

  &__container {
    height: 25px;
    width: 2px;
    margin-left: 12px;
    background-color: black;
    transform: rotate(45deg);
    z-index: 1;
  }
}
