@import '../variables';

@mixin card($padding: 1rem) {
  display: block;
  border-radius: 0.2rem;
  padding: $padding;
}

@mixin card-w-borders($border-color: $light-gray) {
  border: 1px solid $border-color;
  border-radius: 0.2rem;
}

// Box Shadow effect
@mixin card-box-shadow($padding: 1rem) {
  @include card($padding);
  box-shadow: 0 1px 3rem 0 rgba(0, 0, 0, 0.25), 0 9px 12rem 0 rgba(0, 0, 0, 0.15);
}
