@mixin checkbox() {
  display: flex;
  align-items: center;
  position: relative;

  &__label {
    user-select: none;
    font-weight: 300;
    font-size: 0.9rem;
    text-align: center;
  }

  /* custom checkbox */
  &__checkmark {
    display: block;
    position: relative;
    height: 20px;
    width: 20px;
    border-radius: 3px;
    border: 1px solid $orange;
    background-color: $off-white;
    margin-right: 0.5rem;

    /* Create the checkmark/indicator (hidden when not checked) */
    &:after {
      content: '';
      position: absolute;
      display: none;
    }
  }

  &__input {
    position: absolute;
    opacity: 0;
  }

  /* When the checkbox is checked, add a orange background */
  &__input:checked ~ &__checkmark {
    background: $orange;
  }

  /* Show the checkmark when checked */
  &__input:checked ~ &__checkmark:after {
    display: block;
  }

  /* Style the checkmark/indicator */
  &__checkmark:after {
    left: 9px;
    top: -6px;
    width: 5px;
    height: 20px;
    border: solid black;
    border-width: 0 3px 3px 0;
    transform: rotate(50deg);
  }
}
