@import '../variables';

/* Container Modifiers */
@mixin simple-container($width: 65rem, $vertical-margin: 1rem) {
  max-width: $width;
  margin: $vertical-margin auto;
}

@mixin row-mixin() {
  display: flex;
  flex-flow: row wrap;
  flex-direction: row;
  min-width: 100%;
  align-items: flex-start;
}

@mixin flex-column-center() {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@mixin flex-row-center() {
  @include row-mixin();
  align-items: center;
  justify-content: center;
}

/* BUTTONS */
@mixin btn-container() {
  text-align: center;
  max-width: 30rem;
  margin: 20px auto 0;
  padding: 1rem;
}

/* EVENTS */
@mixin event-information-container() {
  font-size: 20px;
  margin-top: 2rem;
}
