@mixin label() {
  padding: 0.25rem 0.5rem;
  background-color: $mid-gray;
  color: white;
  text-shadow: 0px 1px 0 transparentize(black, 0.93);
  border-radius: 3px;

  &.orange {
    color: white;
    background-color: $gamboge;
  }

  &.red {
    color: white;
    background-color: $roman;
  }

  &.blue {
    color: white;
    background-color: $royal-blue;
  }

  &.green {
    color: white;
    background-color: $kelly-green;
  }
}
