@import '../variables';

@mixin tooltip () {
  content: attr(data-title);
  position: absolute;
  top: -1.75rem;
  left: -0.5rem;
  z-index: 1;
  background: $matterhorn;
  color: #fff;
  text-align: center;
  font-family: Arial, sans-serif;
  font-size: 11px;
  padding: 0.5rem;
  border-radius: 5px;
  white-space: nowrap;
}